--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: tipo; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipo AS ENUM (
    'Armazem',
    'Loja'
);


ALTER TYPE public.tipo OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: alertas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alertas (
    id text NOT NULL,
    id_caixa text NOT NULL,
    id_produto text NOT NULL,
    "nomeAlerta" text NOT NULL,
    descricao text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.alertas OWNER TO postgres;

--
-- Name: caixas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.caixas (
    id text NOT NULL,
    "nomeCaixa" text NOT NULL,
    descricao text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.caixas OWNER TO postgres;

--
-- Name: categoriasProdutos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."categoriasProdutos" (
    id text NOT NULL,
    "nomeCategoria" text NOT NULL,
    descricao text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."categoriasProdutos" OWNER TO postgres;

--
-- Name: clientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes (
    id text NOT NULL,
    "numeroContribuinte" text,
    "nomeCliente" text,
    "moradaCliente" text,
    "telefoneCliente" text,
    "emailCliente" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.clientes OWNER TO postgres;

--
-- Name: codigoRecuperacao; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."codigoRecuperacao" (
    id text NOT NULL,
    codigo text NOT NULL,
    id_funcionario text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."codigoRecuperacao" OWNER TO postgres;

--
-- Name: corredores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.corredores (
    id text NOT NULL,
    "nomeCorredor" text NOT NULL,
    descricao text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.corredores OWNER TO postgres;

--
-- Name: entradasEstoque; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."entradasEstoque" (
    id text NOT NULL,
    id_fornecedor text NOT NULL,
    id_produto text NOT NULL,
    id_funcionario text NOT NULL,
    adicionado boolean NOT NULL,
    "quantidadeRecebida" integer NOT NULL,
    "dataEntrada" timestamp(3) without time zone NOT NULL,
    "custoUnitario" numeric(10,2) NOT NULL,
    lote text NOT NULL,
    "dataValidadeLote" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."entradasEstoque" OWNER TO postgres;

--
-- Name: estoques; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoques (
    id text NOT NULL,
    id_produto text NOT NULL,
    "quantidadeAtual" integer NOT NULL,
    lote text NOT NULL,
    "dataValidadeLote" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.estoques OWNER TO postgres;

--
-- Name: fornecedores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fornecedores (
    id text NOT NULL,
    nif text NOT NULL,
    "nomeFornecedor" text NOT NULL,
    "moradaFornecedor" text NOT NULL,
    "telefoneFornecedor" integer NOT NULL,
    "emailFornecedor" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.fornecedores OWNER TO postgres;

--
-- Name: funcionarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.funcionarios (
    id text NOT NULL,
    id_funcao text,
    "numeroBI" text NOT NULL,
    "nomeFuncionario" text NOT NULL,
    senha text NOT NULL,
    "moradaFuncionario" text NOT NULL,
    "telefoneFuncionario" text NOT NULL,
    "emailFuncionario" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.funcionarios OWNER TO postgres;

--
-- Name: funcionariosCaixa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."funcionariosCaixa" (
    id text NOT NULL,
    id_caixa text NOT NULL,
    id_funcionario text NOT NULL,
    "estadoCaixa" boolean NOT NULL,
    "quantidadaFaturada" numeric(10,2) NOT NULL,
    "horarioAbertura" timestamp(3) without time zone NOT NULL,
    "horarioFechamento" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."funcionariosCaixa" OWNER TO postgres;

--
-- Name: funcionariosTarefas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."funcionariosTarefas" (
    id text NOT NULL,
    id_funcionario text NOT NULL,
    id_tarefa text NOT NULL,
    status text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."funcionariosTarefas" OWNER TO postgres;

--
-- Name: funcoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.funcoes (
    id text NOT NULL,
    nome text NOT NULL,
    descricao text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.funcoes OWNER TO postgres;

--
-- Name: funcoesPermissoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."funcoesPermissoes" (
    id text NOT NULL,
    id_funcao text NOT NULL,
    id_permissao text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."funcoesPermissoes" OWNER TO postgres;

--
-- Name: localizacoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.localizacoes (
    id text NOT NULL,
    "nomeLocalizacao" text NOT NULL,
    descricao text,
    tipo public.tipo,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.localizacoes OWNER TO postgres;

--
-- Name: permissoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissoes (
    id text NOT NULL,
    nome text NOT NULL,
    descricao text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.permissoes OWNER TO postgres;

--
-- Name: prateleiras; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prateleiras (
    id text NOT NULL,
    "nomePrateleira" text NOT NULL,
    descricao text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.prateleiras OWNER TO postgres;

--
-- Name: produtos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.produtos (
    id text NOT NULL,
    "id_categoriaProduto" text NOT NULL,
    "referenciaProduto" text NOT NULL,
    "nomeProduto" text NOT NULL,
    "precoVenda" numeric(10,2) NOT NULL,
    "quantidadePorUnidade" integer NOT NULL,
    "unidadeMedida" text,
    "unidadeConteudo" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.produtos OWNER TO postgres;

--
-- Name: produtosLocalizacoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."produtosLocalizacoes" (
    id text NOT NULL,
    id_produto text NOT NULL,
    id_localizacao text NOT NULL,
    id_seccao text NOT NULL,
    id_prateleira text NOT NULL,
    id_corredor text NOT NULL,
    "quantidadeProduto" integer NOT NULL,
    "quantidadeMinimaProduto" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."produtosLocalizacoes" OWNER TO postgres;

--
-- Name: seccoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seccoes (
    id text NOT NULL,
    "nomeSeccao" text NOT NULL,
    descricao text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.seccoes OWNER TO postgres;

--
-- Name: tarefas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tarefas (
    id text NOT NULL,
    nome text NOT NULL,
    descricao text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.tarefas OWNER TO postgres;

--
-- Name: transferencias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transferencias (
    id text NOT NULL,
    id_produto text NOT NULL,
    id_funcionario text NOT NULL,
    "id_produtoLocalizacao" text NOT NULL,
    "dataTransferencia" timestamp(3) without time zone NOT NULL,
    "quantidadeTransferida" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.transferencias OWNER TO postgres;

--
-- Name: vendas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vendas (
    id text NOT NULL,
    id_cliente text NOT NULL,
    "id_funcionarioCaixa" text NOT NULL,
    "numeroDocumento" text NOT NULL,
    "dataEmissao" timestamp(3) without time zone NOT NULL,
    "dataValidade" timestamp(3) without time zone NOT NULL,
    "valorTotal" numeric(10,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.vendas OWNER TO postgres;

--
-- Name: vendasProdutos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."vendasProdutos" (
    id text NOT NULL,
    id_produto text NOT NULL,
    id_venda text NOT NULL,
    "quantidadeVendida" integer NOT NULL
);


ALTER TABLE public."vendasProdutos" OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
1dc32409-d3f7-4c78-818b-7df7b9d13386	370c5f5b9cd3b7a970aa830973ae061088fa907223d006016d23eaacbddd26b8	2025-05-20 21:05:02.67421+01	20250520200501_init	\N	\N	2025-05-20 21:05:02.448431+01	1
\.


--
-- Data for Name: alertas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alertas (id, id_caixa, id_produto, "nomeAlerta", descricao, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: caixas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.caixas (id, "nomeCaixa", descricao, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: categoriasProdutos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."categoriasProdutos" (id, "nomeCategoria", descricao, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientes (id, "numeroContribuinte", "nomeCliente", "moradaCliente", "telefoneCliente", "emailCliente", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: codigoRecuperacao; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."codigoRecuperacao" (id, codigo, id_funcionario, "expiresAt") FROM stdin;
\.


--
-- Data for Name: corredores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.corredores (id, "nomeCorredor", descricao, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: entradasEstoque; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."entradasEstoque" (id, id_fornecedor, id_produto, id_funcionario, adicionado, "quantidadeRecebida", "dataEntrada", "custoUnitario", lote, "dataValidadeLote", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: estoques; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estoques (id, id_produto, "quantidadeAtual", lote, "dataValidadeLote", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: fornecedores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fornecedores (id, nif, "nomeFornecedor", "moradaFornecedor", "telefoneFornecedor", "emailFornecedor", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: funcionarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.funcionarios (id, id_funcao, "numeroBI", "nomeFuncionario", senha, "moradaFuncionario", "telefoneFuncionario", "emailFuncionario", "createdAt", "updatedAt") FROM stdin;
a69538a7-928b-4866-b78c-5d16bed9fb2e	7bb08a01-e23b-45bd-92c0-49510af0fe96	008905247LA041	Bruno Ricardo	$2b$10$c5bcJDlA0rpkvTQ6/czMGOEMgT0R0kLIcpjroe1Jxvx35L9n0SRDC	Rangel, Luanda	946947538	silva@gmail.com	2025-05-20 20:53:44.019	2025-05-20 20:53:44.019
\.


--
-- Data for Name: funcionariosCaixa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."funcionariosCaixa" (id, id_caixa, id_funcionario, "estadoCaixa", "quantidadaFaturada", "horarioAbertura", "horarioFechamento", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: funcionariosTarefas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."funcionariosTarefas" (id, id_funcionario, id_tarefa, status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: funcoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.funcoes (id, nome, descricao, "createdAt", "updatedAt") FROM stdin;
7bb08a01-e23b-45bd-92c0-49510af0fe96	Admin	\N	2025-05-20 20:07:28.668	2025-05-20 20:07:28.668
2da42b35-bcda-4c47-8431-d1af735137b9	Estoquista	\N	2025-05-20 20:09:12.381	2025-05-20 20:09:12.381
7607583d-6493-418a-ae64-b5ba9a872563	Repositor	\N	2025-05-20 20:09:19.784	2025-05-20 20:09:19.784
002167b1-2d38-44c9-a48f-0ea8177cfb26	Gerente	\N	2025-05-20 20:09:27.695	2025-05-20 20:09:27.695
bbc9516e-bf82-4109-ba67-c02fc0679b93	Operador de caixa	\N	2025-05-20 20:09:36.619	2025-05-20 20:09:36.619
\.


--
-- Data for Name: funcoesPermissoes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: localizacoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.localizacoes (id, "nomeLocalizacao", descricao, tipo, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: permissoes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: prateleiras; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prateleiras (id, "nomePrateleira", descricao, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: produtos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.produtos (id, "id_categoriaProduto", "referenciaProduto", "nomeProduto", "precoVenda", "quantidadePorUnidade", "unidadeMedida", "unidadeConteudo", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: produtosLocalizacoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."produtosLocalizacoes" (id, id_produto, id_localizacao, id_seccao, id_prateleira, id_corredor, "quantidadeProduto", "quantidadeMinimaProduto", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: seccoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.seccoes (id, "nomeSeccao", descricao, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: tarefas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tarefas (id, nome, descricao, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: transferencias; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transferencias (id, id_produto, id_funcionario, "id_produtoLocalizacao", "dataTransferencia", "quantidadeTransferida", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: vendas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vendas (id, id_cliente, "id_funcionarioCaixa", "numeroDocumento", "dataEmissao", "dataValidade", "valorTotal", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: vendasProdutos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."vendasProdutos" (id, id_produto, id_venda, "quantidadeVendida") FROM stdin;
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: alertas alertas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alertas
    ADD CONSTRAINT alertas_pkey PRIMARY KEY (id);


--
-- Name: caixas caixas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caixas
    ADD CONSTRAINT caixas_pkey PRIMARY KEY (id);


--
-- Name: categoriasProdutos categoriasProdutos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."categoriasProdutos"
    ADD CONSTRAINT "categoriasProdutos_pkey" PRIMARY KEY (id);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: codigoRecuperacao codigoRecuperacao_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."codigoRecuperacao"
    ADD CONSTRAINT "codigoRecuperacao_pkey" PRIMARY KEY (id);


--
-- Name: corredores corredores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.corredores
    ADD CONSTRAINT corredores_pkey PRIMARY KEY (id);


--
-- Name: entradasEstoque entradasEstoque_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."entradasEstoque"
    ADD CONSTRAINT "entradasEstoque_pkey" PRIMARY KEY (id);


--
-- Name: estoques estoques_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoques
    ADD CONSTRAINT estoques_pkey PRIMARY KEY (id);


--
-- Name: fornecedores fornecedores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fornecedores
    ADD CONSTRAINT fornecedores_pkey PRIMARY KEY (id);


--
-- Name: funcionariosCaixa funcionariosCaixa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."funcionariosCaixa"
    ADD CONSTRAINT "funcionariosCaixa_pkey" PRIMARY KEY (id);


--
-- Name: funcionariosTarefas funcionariosTarefas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."funcionariosTarefas"
    ADD CONSTRAINT "funcionariosTarefas_pkey" PRIMARY KEY (id);


--
-- Name: funcionarios funcionarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.funcionarios
    ADD CONSTRAINT funcionarios_pkey PRIMARY KEY (id);


--
-- Name: funcoesPermissoes funcoesPermissoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."funcoesPermissoes"
    ADD CONSTRAINT "funcoesPermissoes_pkey" PRIMARY KEY (id);


--
-- Name: funcoes funcoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.funcoes
    ADD CONSTRAINT funcoes_pkey PRIMARY KEY (id);


--
-- Name: localizacoes localizacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.localizacoes
    ADD CONSTRAINT localizacoes_pkey PRIMARY KEY (id);


--
-- Name: permissoes permissoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissoes
    ADD CONSTRAINT permissoes_pkey PRIMARY KEY (id);


--
-- Name: prateleiras prateleiras_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prateleiras
    ADD CONSTRAINT prateleiras_pkey PRIMARY KEY (id);


--
-- Name: produtosLocalizacoes produtosLocalizacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."produtosLocalizacoes"
    ADD CONSTRAINT "produtosLocalizacoes_pkey" PRIMARY KEY (id);


--
-- Name: produtos produtos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_pkey PRIMARY KEY (id);


--
-- Name: seccoes seccoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seccoes
    ADD CONSTRAINT seccoes_pkey PRIMARY KEY (id);


--
-- Name: tarefas tarefas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tarefas
    ADD CONSTRAINT tarefas_pkey PRIMARY KEY (id);


--
-- Name: transferencias transferencias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transferencias
    ADD CONSTRAINT transferencias_pkey PRIMARY KEY (id);


--
-- Name: vendasProdutos vendasProdutos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."vendasProdutos"
    ADD CONSTRAINT "vendasProdutos_pkey" PRIMARY KEY (id);


--
-- Name: vendas vendas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendas
    ADD CONSTRAINT vendas_pkey PRIMARY KEY (id);


--
-- Name: alertas alertas_id_caixa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alertas
    ADD CONSTRAINT alertas_id_caixa_fkey FOREIGN KEY (id_caixa) REFERENCES public.caixas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: alertas alertas_id_produto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alertas
    ADD CONSTRAINT alertas_id_produto_fkey FOREIGN KEY (id_produto) REFERENCES public.produtos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: codigoRecuperacao codigoRecuperacao_id_funcionario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."codigoRecuperacao"
    ADD CONSTRAINT "codigoRecuperacao_id_funcionario_fkey" FOREIGN KEY (id_funcionario) REFERENCES public.funcionarios(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: entradasEstoque entradasEstoque_id_fornecedor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."entradasEstoque"
    ADD CONSTRAINT "entradasEstoque_id_fornecedor_fkey" FOREIGN KEY (id_fornecedor) REFERENCES public.fornecedores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entradasEstoque entradasEstoque_id_funcionario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."entradasEstoque"
    ADD CONSTRAINT "entradasEstoque_id_funcionario_fkey" FOREIGN KEY (id_funcionario) REFERENCES public.funcionarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entradasEstoque entradasEstoque_id_produto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."entradasEstoque"
    ADD CONSTRAINT "entradasEstoque_id_produto_fkey" FOREIGN KEY (id_produto) REFERENCES public.produtos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: estoques estoques_id_produto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoques
    ADD CONSTRAINT estoques_id_produto_fkey FOREIGN KEY (id_produto) REFERENCES public.produtos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: funcionariosCaixa funcionariosCaixa_id_caixa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."funcionariosCaixa"
    ADD CONSTRAINT "funcionariosCaixa_id_caixa_fkey" FOREIGN KEY (id_caixa) REFERENCES public.caixas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: funcionariosCaixa funcionariosCaixa_id_funcionario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."funcionariosCaixa"
    ADD CONSTRAINT "funcionariosCaixa_id_funcionario_fkey" FOREIGN KEY (id_funcionario) REFERENCES public.funcionarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: funcionariosTarefas funcionariosTarefas_id_funcionario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."funcionariosTarefas"
    ADD CONSTRAINT "funcionariosTarefas_id_funcionario_fkey" FOREIGN KEY (id_funcionario) REFERENCES public.funcionarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: funcionariosTarefas funcionariosTarefas_id_tarefa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."funcionariosTarefas"
    ADD CONSTRAINT "funcionariosTarefas_id_tarefa_fkey" FOREIGN KEY (id_tarefa) REFERENCES public.tarefas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: funcionarios funcionarios_id_funcao_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.funcionarios
    ADD CONSTRAINT funcionarios_id_funcao_fkey FOREIGN KEY (id_funcao) REFERENCES public.funcoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: funcoesPermissoes funcoesPermissoes_id_funcao_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."funcoesPermissoes"
    ADD CONSTRAINT "funcoesPermissoes_id_funcao_fkey" FOREIGN KEY (id_funcao) REFERENCES public.funcoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: funcoesPermissoes funcoesPermissoes_id_permissao_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."funcoesPermissoes"
    ADD CONSTRAINT "funcoesPermissoes_id_permissao_fkey" FOREIGN KEY (id_permissao) REFERENCES public.permissoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: produtosLocalizacoes produtosLocalizacoes_id_corredor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."produtosLocalizacoes"
    ADD CONSTRAINT "produtosLocalizacoes_id_corredor_fkey" FOREIGN KEY (id_corredor) REFERENCES public.corredores(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: produtosLocalizacoes produtosLocalizacoes_id_localizacao_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."produtosLocalizacoes"
    ADD CONSTRAINT "produtosLocalizacoes_id_localizacao_fkey" FOREIGN KEY (id_localizacao) REFERENCES public.localizacoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: produtosLocalizacoes produtosLocalizacoes_id_prateleira_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."produtosLocalizacoes"
    ADD CONSTRAINT "produtosLocalizacoes_id_prateleira_fkey" FOREIGN KEY (id_prateleira) REFERENCES public.prateleiras(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: produtosLocalizacoes produtosLocalizacoes_id_produto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."produtosLocalizacoes"
    ADD CONSTRAINT "produtosLocalizacoes_id_produto_fkey" FOREIGN KEY (id_produto) REFERENCES public.produtos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: produtosLocalizacoes produtosLocalizacoes_id_seccao_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."produtosLocalizacoes"
    ADD CONSTRAINT "produtosLocalizacoes_id_seccao_fkey" FOREIGN KEY (id_seccao) REFERENCES public.seccoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: produtos produtos_id_categoriaProduto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT "produtos_id_categoriaProduto_fkey" FOREIGN KEY ("id_categoriaProduto") REFERENCES public."categoriasProdutos"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: transferencias transferencias_id_funcionario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transferencias
    ADD CONSTRAINT transferencias_id_funcionario_fkey FOREIGN KEY (id_funcionario) REFERENCES public.funcionarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: transferencias transferencias_id_produtoLocalizacao_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transferencias
    ADD CONSTRAINT "transferencias_id_produtoLocalizacao_fkey" FOREIGN KEY ("id_produtoLocalizacao") REFERENCES public."produtosLocalizacoes"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: transferencias transferencias_id_produto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transferencias
    ADD CONSTRAINT transferencias_id_produto_fkey FOREIGN KEY (id_produto) REFERENCES public.produtos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: vendasProdutos vendasProdutos_id_produto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."vendasProdutos"
    ADD CONSTRAINT "vendasProdutos_id_produto_fkey" FOREIGN KEY (id_produto) REFERENCES public.produtos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: vendasProdutos vendasProdutos_id_venda_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."vendasProdutos"
    ADD CONSTRAINT "vendasProdutos_id_venda_fkey" FOREIGN KEY (id_venda) REFERENCES public.vendas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: vendas vendas_id_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendas
    ADD CONSTRAINT vendas_id_cliente_fkey FOREIGN KEY (id_cliente) REFERENCES public.clientes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: vendas vendas_id_funcionarioCaixa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendas
    ADD CONSTRAINT "vendas_id_funcionarioCaixa_fkey" FOREIGN KEY ("id_funcionarioCaixa") REFERENCES public."funcionariosCaixa"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

